@tailwind base;
@tailwind components;
@tailwind utilities;

.links:hover {
  @apply transition ease-in-out duration-300 text-purple-500 cursor-pointer 
}

.btn__register {
  @apply px-6 py-2  
}


.outer__cointainer {
  @apply fixed top-0 left-0 w-full h-full bg-black bg-opacity-40 flex justify-center items-center
}

.inner__container {
  @apply bg-white w-[400px] h-[500px] relative shadow-2xl rounded-md
}

.signup__title {
  @apply font-semibold text-lg text-center
}

.height {
  height: calc(100vh - 80px);
}

.starting-container {
  @apply p-4 mx-auto max-w-[1200px]
}




.animate-button {
  animation: animateButtonClick 1s ease-in-out 1s;
}

@keyframes animateButtonClick {
  25% {
    transform: rotateY('180');
  }
}


.custom-datepicker input {
  pointer-events: none;
  cursor: pointer;
}

.custom-datepicker input[type="text"] {
  /* Allow only numbers */
  /* You can also use input[type="number"] to enable the number keypad on mobile devices */
  appearance: textfield;
}

.custom-datepicker input[type="text"]::-webkit-inner-spin-button,
.custom-datepicker input[type="text"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.modal-open {
  overflow: hidden;
}